
.header{
    width: 100%;
   
    display: flex;
    align-items: center;
    background-color: #895EC4;
    position: sticky;
    z-index: 100;
}
.logo_title > h2{
    margin-left: 100px;
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}