
.profile{
    margin: 20px 0px 20px;
    width: 317px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex: 1;
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    z-index: 100;

}
.profile > h4 {
    padding: 5px;
    font-size: larger;
    font-weight: 500;
}
.profile_data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5px 0px;
    margin-top: 0;
    gap: 10px;
}

.profile_data > p{
    font-size: medium;
    font-weight: 400;
}
/* .profile_data > Button{
    
    padding: 5px;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 100px;
    border-radius: 5px; 
    font-size: 10px;
    font-weight: 600;
} */
.profile_data .name{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.profile_data .name:focus{
    outline-color: #EF4B88;
}
.profile_data form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;

}
.profile  Button{
    width: 100px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: white;
    background-color: #895EC4;
    opacity: 0.8;
    font-size: 10px;
} 
.profile button:hover{
    background-color: #895EC4;
    opacity: 1;
    color: white;
}